h1{
    color: #310d42;
    text-align: center;
    font-style: italic;
    font-weight: 700;
    font-family: Bree serif;
    font-size: 70px;
    line-height: normal;
}
i{
    color: #34074D;
}
body{
    background-image: url(https://thumbs.dreamstime.com/b/vector-geometric-background-can-be-used-cover-design-book-website-cd-advertising-white-abstract-texture-poster-backgrounds-150343271.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
img{
    display: block;
    border: 4px solid purple;
    border-radius: 5px;
    margin-bottom: 30px;
}

h2{
    text-decoration: underline;
    color: #34074D;
}